<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Nouiri Said.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/saidnouiri/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:saidnouiri91@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>