<div class="align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <!--<h1 class="home-title">DevOps Engineer</h1>-->
      <h2 class="home-author">Nouiri Said, <span id="dynamic-text">{{ dynamicText }}</span></h2>
      <blockquote>
        I am a <span style="font-weight: bold; color: #2D8AC9;">DevOps Engineer</span> with hands-on experience in
        building and optimizing CI/CD pipelines. <br> Drawing on
        my academic background in <span style="font-weight: bold; color: #E94E77;">embedded systems</span>, fluency in
        <span style="font-weight: bold; color: #2D8AC9;">English</span>, and proficiency with tools like <span
          style="font-weight: bold; color: #FF9900;">Kubernetes</span>, <span
          style="font-weight: bold; color: #FF9900;">Docker</span>, and <span
          style="font-weight: bold; color: #FF9900;">CI/CD pipelines</span>, I specialize in creating <span
          style="font-weight: bold; color: #E94E77;">scalable</span> and <span
          style="font-weight: bold; color: #E94E77;">high-performance</span> applications while ensuring efficient and
        reliable operations.
      </blockquote>

      <button>
        <a href="https://www.linkedin.com/in/saidnouiri/" target="_blank" class="a-green">
          > DM me on LinkedIn
        </a>
      </button>
    </div>
  </div>
</div>